<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat_box(AmitMourya8085)</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h2>AM8085_CHATBOX</h2>
    
    <div id="chatbox">
        <div class="message-row bot-row">
            <div class="bubble bot-bubble">
         Hello! I am ready. Ask me anything, 
            </div>
        </div>
    </div>

    <div class="input-area">
        <input type="text" id="userInput" placeholder="Ask something...">
        <button onclick="sendToFlask()">Ask</button>
        <button onclick="clearChat()">Clear Chat</button>
    </div>

    <!-- Link JS -->
    <script src="/static/script.js"></script>

</body>
</html>